<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card">
            <div class="card-image">
                <img src="images/login.jpg">
            </div>
            <div class="card-content">
                <p>Hello {{rating}}</p>
                <stepper ng-model="rating"/>
            </div>
            <div class="card-action">
                <center><a href="#/">Home</a></center>
            </div>
        </div>
    </div>
</div>

<!--<div id="footer" ng-include="'views/footer.html'"></div>-->