<div class="card" style="height: 64px; margin: 2%">
    <div class="card-content">
        <div class="row">
            <div class="input-field col s6" style="top:-18px">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">First Name</label>
            </div>

            <div class="input-field col s6">
                <a href="#" style="float:right">More info</a>
                <a href="#" style="float:right">Do it</a>
            </div>
        </div>
    </div>
</div>

<div style="clear: both"></div>

<div class="row">
    <div class="col s12 m4" ng-repeat="test in tests">
        <div class="card">
            <div class="card-image">
                <img ng-src="{{test.image}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{test.title}}</span>
                <p>{{test.description}}</p>
            </div>
            <div class="card-action">
                <a href="#test/{{test._id}}">More info</a>
                <a href="#do/{{test._id}}" class="btn-floating btn-large red" style="float:right; top: -16px;">
                    <!--Do it-->
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
        </div>
    </div>
</div>

<center>
    <p>
        Página: {{page}}
    </p>
    <ul class="pagination">
        <li class="waves-effect"><a href="#/page/{{page-1}}"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#/page/{{page}}">{{page}}</a></li>
        <li ng-repeat="n in range((page+1),(page+4))" class="waves-effect"><a href="#/page/{{n}}">{{n}}</a></li>
        <li class="waves-effect"><a href="#/page/{{page+5}}"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</center>
