
<div class="card" style="width:80%; margin:auto; margin-top: 2%; margin-bottom: 2%">
    <div class="card-image">
        <img src="images/404.jpg">
        <span class="card-title">Page not yet implemented</span>
    </div>
    <div class="card-content">
        <pre>
        # TODO (1st place)
        - Front end (Needs to be pretty)
        - Angularize
        - Routers
        - Separate HTMLs
        - Service to the JSON requests
        - Update rating

        # TODO (2nd place)
        - Modularizar bien la API
        - Testear bien la seguridad
        - Is susceptible for mongoinyection?
        - Catching errors?
        - Invalidating token?
        - Infinite results?


        # TODO (3rd place)
        - Don't bring all comments to push a new one
        - Same with cuestions
        - Search in comments or in questions or in results
        - Paginate in listings
        - Comments
        - Questions
        </pre>
    </div>
    <div class="card-action">
        <center><a href="#/">Home</a></center>

    </div>
</div>